In [1]:
import tensorflow as tf
tf.__version__

'2.2.0'

In [ ]:
from collections import Counter
from datetime import timedelta, datetime
import glob
from itertools import chain
import json
import os
import re

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas.plotting import register_matplotlib_converters
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [ ]:
import pandas as pd

magazine = pd.read_json("/content/drive/My Drive/branch/data/magazine.json", lines = True)
magazine.head()

             magazine_tag_list     id
0  [브런치북, 육아일기, 대화법, 들려주고픈이야기]  38842
1                  [tea, food]  11540
2                       [food]  11541
3            [브런치북, 일상, 시, 사람]  11546
4           [감성에세이, 노래, 음악에세이]  11544

magazine.shape
(27967, 2)

In [ ]:
magazine_cnt = magazine['id'].value_counts()
magazine_cnt

2047     1
23969    1
42366    1
30084    1
28039    1
        ..
19196    1
23294    1
21247    1
43776    1
0        1
Name: id, Length: 27967, dtype: int64

In [ ]:
type(magazine_cnt) # pandas.core.series.Series
len(magazine_cnt.unique()) # 1
len(magazine['id'].unique()) # 27967

27967

In [ ]:
magazine.to_csv('/content/drive/My Drive/branch/data/magazine.csv', index = False)

In [ ]:
magazine_df = pd.read_csv('/content/drive/My Drive/branch/data/magazine.csv', index_col='id')
magazine_df.head()

                         magazine_tag_list
id
38842  ['브런치북', '육아일기', '대화법', '들려주고픈이야기']
11540                      ['tea', 'food']
11541                             ['food']
11546            ['브런치북', '일상', '시', '사람']
11544             ['감성에세이', '노래', '음악에세이']

In [ ]:
metadata = pd.read_json("/content/drive/My Drive/branch/data/metadata.json", lines=True)
metadata.head()

   magazine_id        user_id  ... article_id                id
0         8982        @bookdb  ...        782       @bookdb_782
1        12081     @kohwang56  ...         81     @kohwang56_81
2            0   @hannahajink  ...          4    @hannahajink_4
3        16315  @bryceandjuli  ...         88  @bryceandjuli_88
4        29363   @mijeongpark  ...         34   @mijeongpark_34

[5 rows x 9 columns]

In [ ]:
metadata.shape

(643104, 9)

In [ ]:
len(metadata['magazine_id'].unique())

28028

In [ ]:
metadata_cnt= metadata['magazine_id'].value_counts()
len(metadata_cnt.unique()) #318
metadata_cnt.unique()

array([160823,   2430,   1417,   1300,   1279,   1069,    988,    889,
          816,    784,    692,    664,    622,    617,    611,    607,
          551,    523,    504,    498,    492,    488,    486,    481,
          479,    478,    469,    465,    459,    458,    454,    444,
          438,    429,    420,    415,    413,    409,    407,    406,
          403,    390,    385,    380,    376,    374,    372,    371,
          370,    369,    366,    365,    364,    363,    362,    360,
          354,    353,    350,    348,    340,    337,    336,    335,
          334,    330,    328,    327,    322,    321,    319,    311,
          307,    306,    305,    295,    290,    282,    280,    277,
          273,    270,    269,    266,    265,    261,    259,    256,
          254,    252,    251,    250,    249,    246,    245,    243,
          242,    241,    240,    238,    237,    236,    233,    231,
          230,    229,    228,    226,    225,    224,    221,    220,
          219,    217,    216,    213,    212,    211,    210,    209,
          207,    206,    205,    204,    203,    202,    200,    197,
          196,    195,    194,    193,    192,    191,    190,    189,
          188,    185,    184,    183,    182,    181,    180,    179,
          178,    177,    176,    175,    174,    173,    172,    170,
          169,    168,    167,    166,    165,    164,    163,    161,
          160,    159,    158,    157,    155,    154,    153,    152,
          151,    150,    149,    148,    147,    146,    145,    144,
          143,    142,    140,    139,    138,    137,    136,    135,
          134,    133,    132,    131,    130,    129,    128,    127,
          126,    125,    124,    123,    122,    121,    120,    119,
          118,    117,    116,    115,    114,    113,    112,    111,
          110,    109,    108,    107,    106,    105,    104,    103,
          102,    101,    100,     99,     98,     97,     96,     95,
           94,     93,     92,     91,     90,     89,     88,     87,
           86,     85,     84,     83,     82,     81,     80,     79,
           78,     77,     76,     75,     74,     73,     72,     71,
           70,     69,     68,     67,     66,     65,     64,     63,
           62,     61,     60,     59,     58,     57,     56,     55,
           54,     53,     52,     51,     50,     49,     48,     47,
           46,     45,     44,     43,     42,     41,     40,     39,
           38,     37,     36,     35,     34,     33,     32,     31,
           30,     29,     28,     27,     26,     25,     24,     23,
           22,     21,     20,     19,     18,     17,     16,     15,
           14,     13,     12,     11,     10,      9,      8,      7,
            6,      5,      4,      3,      2,      1])

magazine id는 중복되지 않음.
metadata의 magazine_id 는 중복 된 것이 많음.
즉, magazine id 별 metadata는 여러개임.

In [ ]:
metadata.to_csv('/content/drive/My Drive/branch/data/metadata.csv', index = False)

In [ ]:
 metadata_df= pd.read_csv('/content/drive/My Drive/branch/data/metadata.csv', index_col='magazine_id')
metadata_df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                   user_id  ...                id
magazine_id                 ...
8982.0             @bookdb  ...       @bookdb_782
12081.0         @kohwang56  ...     @kohwang56_81
0.0           @hannahajink  ...    @hannahajink_4
16315.0      @bryceandjuli  ...  @bryceandjuli_88
29363.0       @mijeongpark  ...   @mijeongpark_34

[5 rows x 8 columns]

In [ ]:
# magazine_join = pd.concat([magazine, metadata], join='outer', axis=1)
magazine_join = pd.merge(magazine_df, metadata_df, how='outer', left_index=True, right_index=True)
magazine_join.head()

    magazine_tag_list       user_id  ... article_id              id
0.0                []  @hannahajink  ...        4.0  @hannahajink_4
0.0                []       @purnbd  ...        9.0       @purnbd_9
0.0                []       @purnbd  ...        7.0       @purnbd_7
0.0                []       @fskene  ...      247.0     @fskene_247
0.0                []    @hyunj2407  ...       14.0   @hyunj2407_14

[5 rows x 9 columns]

In [ ]:
magazine_join.shape

(643212, 9)

In [ ]:
magazine_join.head(30)

    magazine_tag_list       user_id  ... article_id               id
0.0                []  @hannahajink  ...        4.0   @hannahajink_4
0.0                []       @purnbd  ...        9.0        @purnbd_9
0.0                []       @purnbd  ...        7.0        @purnbd_7
0.0                []       @fskene  ...      247.0      @fskene_247
0.0                []    @hyunj2407  ...       14.0    @hyunj2407_14
0.0                []   @ubermensch  ...       24.0   @ubermensch_24
0.0                []   @thsgmlgns2  ...       16.0   @thsgmlgns2_16
0.0                []  @bluehighway  ...       34.0  @bluehighway_34
0.0                []       @purnbd  ...        3.0        @purnbd_3
0.0                []  @junyoungcho  ...        2.0   @junyoungcho_2
0.0                []         @semi  ...       16.0         @semi_16
0.0                []        @mori3  ...       52.0        @mori3_52
0.0                []       @purnbd  ...        1.0        @purnbd_1
0.0                []       @icallu  ...      103.0      @icallu_103
0.0                []   @ubermensch  ...       29.0   @ubermensch_29
0.0                []  @angegardien  ...       80.0  @angegardien_80
0.0                []     @wikitree  ...     1863.0   @wikitree_1863
0.0                []     @wikitree  ...     1866.0   @wikitree_1866
0.0                []      @pagan98  ...       12.0      @pagan98_12
0.0                []     @wikitree  ...     1865.0   @wikitree_1865
0.0                []       @purnbd  ...        5.0        @purnbd_5
0.0                []    @rkdls0222  ...       11.0    @rkdls0222_11
0.0                []    @gaheepark  ...        6.0     @gaheepark_6
0.0                []    @gaheepark  ...        7.0     @gaheepark_7
0.0                []     @wikitree  ...     1867.0   @wikitree_1867
0.0                []   @binnie64ld  ...       30.0   @binnie64ld_30
0.0                []      @mohohan  ...      260.0     @mohohan_260
0.0                []   @ubermensch  ...       28.0   @ubermensch_28
0.0                []      @mohohan  ...      262.0     @mohohan_262
0.0                []     @wikitree  ...     1546.0   @wikitree_1546

[30 rows x 9 columns]

In [ ]:
import pandas as pd

users = pd.read_json('/content/drive/My Drive/branch/data/users.json', lines=True)
users.shape

(310758, 3)

In [ ]:
users.head()

  keyword_list  ...                                 id
0           []  ...  #901985d8bc4c481805c4a4f911814c4a
1           []  ...  #1fd89e9dcfa64b45020d9eaca54e0eed
2           []  ...  #1d94baaea71a831e1f33e1c6bd126ed5
3           []  ...  #04641c01892b12dc018b1410e4928c0d
4           []  ...  #65bcaff862aadff877e461f54187ab62

[5 rows x 3 columns]

In [ ]:
users

                                             keyword_list  ...                                 id
0                                                      []  ...  #901985d8bc4c481805c4a4f911814c4a
1                                                      []  ...  #1fd89e9dcfa64b45020d9eaca54e0eed
2                                                      []  ...  #1d94baaea71a831e1f33e1c6bd126ed5
3                                                      []  ...  #04641c01892b12dc018b1410e4928c0d
4                                                      []  ...  #65bcaff862aadff877e461f54187ab62
...                                                   ...  ...                                ...
310753                                                 []  ...  #2863e47d50f1640df6dac10b7bad94fb
310754                                                 []  ...  #4341a155d1966e5618e310c45386aea4
310755                                                 []  ...  #0d70f397a78d2ef638f812592fa8e6ba
310756  [{'cnt': 1, 'keyword': '꽃병 꽃꽂이'}, {'cnt': 1, '...  ...  #1bbf5e3d1e4c373103981cdd819812da
310757                                                 []  ...  #680cbb3ccc817891d2002f20a503e7e6

[310758 rows x 3 columns]

In [ ]:
import glob
read_file_lst = glob.glob('/content/drive/My Drive/branch/read/read/*')

In [ ]:
exclude_file_lst = ['read.tar']

In [ ]:
read_df_lst = []
for f in read_file_lst:
    file_name = os.path.basename(f)
    if file_name in exclude_file_lst:
        print(file_name)
    else:
        df_temp = pd.read_csv(f, header=None, names=['raw'])
        df_temp['dt'] = file_name[:8]
        df_temp['hr'] = file_name[8:10]
        df_temp['user_id'] = df_temp['raw'].str.split(' ').str[0]
        df_temp['article_id'] = df_temp['raw'].str.split(' ').str[1:].str.join(' ').str.strip()
        read_df_lst.append(df_temp)

In [ ]:
read = pd.concat(read_df_lst)

In [ ]:
read.shape

(3507097, 5)

In [ ]:
read.head()

                                                 raw  ...                                         article_id
0  #3d6d98f06ae6024da6e01af11f19dfcb @seongheelee...  ...  @seongheeleelrwn_2 @thewatermelon_14 @thewater...
1     #a7f157a8a3fa2cb934799b5943dc34a0 @brunch_133   ...                                        @brunch_133
2     #40a04d5f58e3eb86f249f099a1580b2c @haereka_93   ...                                        @haereka_93
3  #65a8fb00713e0b5bb30f129794e49cfa @shala_7 @ca...  ...                              @shala_7 @cardnews_10
4  #cd221250949c3f97988d43d68decb744 @bang1999_46...  ...          @bang1999_467 @bang1999_467 @bang1999_468

[5 rows x 5 columns]

In [ ]:
col = ['dt', 'hr', 'user_id', 'article_id']
read_df = read[col]
read_df.head()

         dt  ...                                         article_id
0  20190122  ...  @seongheeleelrwn_2 @thewatermelon_14 @thewater...
1  20190122  ...                                        @brunch_133
2  20190122  ...                                        @haereka_93
3  20190122  ...                              @shala_7 @cardnews_10
4  20190122  ...          @bang1999_467 @bang1999_467 @bang1999_468

[5 rows x 4 columns]

In [ ]:
read_df.to_csv('/content/drive/My Drive/branch/data/read.csv', index = False)

In [ ]:
df_read= pd.read_csv('/content/drive/My Drive/branch/data/read.csv')
df_read.head()

         dt  ...                                         article_id
0  20190122  ...  @seongheeleelrwn_2 @thewatermelon_14 @thewater...
1  20190122  ...                                        @brunch_133
2  20190122  ...                                        @haereka_93
3  20190122  ...                              @shala_7 @cardnews_10
4  20190122  ...          @bang1999_467 @bang1999_467 @bang1999_468

[5 rows x 4 columns]

In [ ]:
df_read.shape

(3507097, 4)